body {
	background-color: white;
	overflow: auto;
}

form {
	padding: 0px;	
	margin: 0px;
	top: 0px;
}

#user {
	width: 100%;
}

#delete {
	float: right;
}

#main {
	position: absolut;
	overflow: auto;
	left: 35%; 
	border: solid 1px black;
	top: 0px;
	width: 85%;
	height: 88%;
	float: right;
	margin-right: 0.1%;
	margin-top: 0.1%;
	background-color: #dee6ff;
}

#sidebar {
	position: absolut;
	overflow: auto;
	float:left;
	top: 0px;
	width: 14%;
	height: 68.8%;
	border: solid 1px #000000;
	margin-left: 0.1%;
	margin-top: 0.1%;
	background-color: #dee6ff;
}

#userbar {
	position: absolut;
	bottom: 0px;
	width: 14%;
	overflow: auto;
	height: 19%;
	border: solid 1px #000000;
	border-top: solid 0px;
	margin-left: 0.1%;
	background-color: #dee6ff;
}

#footer {
	color: #444444;
	clear: both;
    font-size: 0.83em;
    text-align: center;
	position: absolut;
	overflow: auto;
	left: 0%; 
	border: solid 1px black;
	top: 0px;
	width: 99.7%;
	height: 3%;
	float: right;
	margin-right: 0.1%;
	margin-top: 0.4%;
	background-color: #dee6ff;
}

h2 {
	border-bottom: solid 1px #000000;
	padding: 0px;
	margin: 10px 0px;
}

a:link, a:visited, a:active { 
  text-decoration:none;
  color: #000000;
}

a:hover {
  text-decoration: underline;
  color: #000000;
}


li {
	text-decoration: none;
	list-style-type: none; 
	border-left: none;
}

ul {
	text-decoration: none;
	list-style-type: none; 
	list-style-position: inside;
    margin: 0px; padding: 0px 15px;

}

#content {
	width: 100%;
}

#header {
text-decoration:none;
  color: #000000;
}

table{
	border-collapse:collapse;
}

td, th, tr {
	border-left: 1px solid black;
}

tr:hover {
	background: lightblue;
}
