body {
	background-color: white;
	overflow: auto;
}

form {
	padding: 0px;	
	margin: 0px;
	top: 0px;
}


#user {
	width: 100%;
}

#delete {
	float: right;
}

#main {
	position: absolut;
	overflow: auto;
	left: 35%; 
	border: solid 1px black;
	top: 0px;
	width: 85%;
	height: 88%;
	float: right;
	margin-right: 0.1%;
	margin-top: 0.1%;
	background-color: #dee6ff;
}

#sidebar {
	position: absolut;
	overflow: auto;
	float:left;
	top: 0px;
	width: 14%;
	height: 79.9%;
	border: solid 1px #000000;
	margin-left: 0.1%;
	margin-top: 0.1%;
	background-color: #dee6ff;
}

#userbar {
	position: absolut;
	bottom: 0px;
	width: 14%;
	overflow: auto;
	height: 8%;
	border: solid 1px #000000;
	border-top: solid 0px;
	margin-left: 0.1%;
	background-color: #dee6ff;
}

#footer {
	color: #444444;
	clear: both;
    	font-size: 0.83em;
    	text-align: center;
	position: absolut;
	overflow: hidden;
	border: solid 1px black;
	top: 50%;
	width: 99.7%;
	float: right;
	margin-right: 0.1%;
	margin-top: 0.4%;
	background-color: #dee6ff;
}

h2 {
	border-bottom: solid 1px #000000;
	padding: 0px;
	margin: 10px 0px;
}

a:link, a:visited, a:active { 
  text-decoration:none;
  color: #000000;
}

a:hover {
  text-decoration: underline;
  color: #000000;
}


li {
	text-decoration: none;
	list-style-type: none; 
	border-left: none;
}

#icon {
	vertical-align: middle;
	padding: 0px;
	margin-left: 2px;
}

ul {
	text-decoration: none;
	list-style-type: none; 
	list-style-position: inside;
    margin: 0px; padding: 0px 15px;

}

#content {
	width: 100%;
}

#signatures {
	top: 0px;
	float: left;
	width: 45%;
}

#scans {
	border-left: 2px solid #dee6ff;
	overflow: auto;
	float: right;
	width: 45%;
	margin-bottom: 10px;
}

#submit {
	background: #ddeeff;
	border: 1px solid black;
}

#header {
	text-decoration:none;
	color: #000000;
}

table{
	border-collapse:collapse;
}

td, th, tr {
	border-left: 1px solid black;
}

tr:hover {
	background: lightblue;
}

#nohover {
	background: #9999FF;	
}

#login {
	border-left: none;
	background: #dee6ff;
}

#delete {
	vertical-align: middle;
	padding: 0px;
	float: right;
	margin: 2px;
}

